# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Ignore unnecessary folders
Data/Backup
Data/Cache
Data/Index
Data/Local
Data/Packages/User/Snippets